*{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(
        to bottom,
        #393939 0%,
        #0a0a0a 100%
      );

    user-select: none;
    -webkit-app-region: drag;
}

.app{
    padding: 16px;
}

button, input, textarea, select{
    -webkit-app-region: no-dag;
    cursor: pointer;
}


.wave-container{
    position: fixed;
    z-index: 2;
}

.person{
    position: fixed;
    z-index: 10;
}
.glass{
    position: fixed;
    z-index: 1;
}

.container-controls{
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 3;


}